header {
  padding: 0px;
  margin: 0px;
  background-image: url("/img/header.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.heading {
  font-size: 10vw;
  font-family: monospace;
  color: white;
  font-weight: bold;
  margin: 0px;
  padding-top: 30vh;
  text-shadow: 1px 1px 10px #636363;
}

.sub-heading {
  font-size: 5vw;
  font-family: monospace;
  color: white;
  font-weight: 800;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 10px #636363;
}

.sub-heading a {
  text-decoration: none;
  margin-top: 0.25vw;
  font-weight: 750;
  font-size: 2.75vw;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 7.5px;
  border-width: 4.5px;
  color: #ffffff;
  text-shadow: 1px 1px 10px #636363;
  background: rgba(149, 149, 149, 0.33);
}

.sub-heading a:hover {
  background: rgba(149, 149, 149, 0.66);
}

.paragraph {
  background: #d3d3d3;
  color: black;
  padding: 35px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  font-size: 4vw;
}

.courses {
  text-align: center;
}

.courses h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 4vw;
}

.courses ul {
  width: 80vw;
}

.courses ul li {
  background: #e8e8e8;
  list-style: none;
  font-size: 2vw;
}

.classes table tr td {
  background: #ffffff;
  border: #000000;
  border-width: 100px;
  color: black;
  padding: 35px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  font-size: 16px;
}

.classes h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 46px;
}
