header {
  padding: 0px;
  margin: 0px;
  background-image: url("/img/header.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  font-size: 10vw;
  font-family: monospace;
  color: white;
  font-weight: bold;
  margin: 0px;
  padding-top: 30vh;
  text-shadow: 1px 1px 10px #636363;
}

.sub-heading {
  font-size: 5vw;
  font-family: monospace;
  color: white;
  font-weight: 800;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 10px #636363;
}

.sub-heading a {
  text-decoration: none;
  margin-top: 0.75vw;
  position: relative;
  font-weight: bold;
  font-size: 8vh;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  border-width: 10px;
  color: #ffffff;
  text-shadow: 1px 1px 10px #636363;
}

.paragraph {
  background: #d3d3d3;
  color: black;
  padding: 35px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  font-size: 16px;
}

.courses table tr td {
  background: #ffffff;
  border: #000000;
  border-width: 100px;
  color: black;
  padding: 35px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  font-size: 16px;
}

.courses h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 46px;
}

.classes table tr td {
  background: #ffffff;
  border: #000000;
  border-width: 100px;
  color: black;
  padding: 35px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  font-size: 16px;
}

.classes h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 46px;
}
