* {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  transition: 0.1s;
  outline: 0;
}

p {
  font-size: 1.1vw;
}

label {
  font-size: 1.1vw;
}

input {
  font-size: 1.1vw;
}

body {
  margin: 0px;
  padding: 0px;
  background: white;
  text-decoration: none;
  text-align: left;
  vertical-align: top;
  font-family: 'Roboto Mono', monospace;
}

.site-content {
  min-height: 50vh;
}

.sticky {
  position: fixed;
}

.scrolltotop {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  z-index: 900;
}

.scrolltotop:hover {
  /*margin-right: 20px;*/
  padding-bottom: 10px;
}

.scrolltotop img {
  width: 10vh;
  height: auto;
}

.scroll {
  overflow: auto;
}

.site-content {
  padding-bottom: 8vh;
}

.cookie-bar {
  position: fixed;
  background: #000000;
  bottom: 0;
  width: 100vw;
  /* height: 12vh; */
  /* line-height: 9vh; */
  z-index: 901;
  display: table;
}

.cookie-bar p {
  color: #ffffff;
  margin-left: 1vw;
  display: inline-block;
  font-size: 1vw;
  display: table-cell;
  vertical-align: middle;
}

.cookie-bar p a {
  text-decoration: underline;
  color: #b5b5b5;
}

.cookie-button {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.cookie-button button {
  text-align: center;
  background: #f1d600;
  padding: 0.6vw 1.7vw;
  margin: 0;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2vw;
  border: none;
  border: 0.3vw solid #f1d600;
  cursor: pointer;
}

.cookie-button button:hover {
  color: #f1d600;
  background: #000000;
  transition: none;
}
