/*
  Navigation
*/

ul {
  padding: 0px;
  margin: 0px;
}

nav {
  background: #ffffff;
  opacity: 1;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  margin-top: 0px;
  position: fixed;
  top: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  position: relative;
}

.nav-section {
  opacity: 1;
  color: #2c2c2c;
  text-decoration: none;
  font-size: 18;
  font-family: sans-serif;
  font-weight: bold;
  display: block;
  padding: 25px 1.5vw;
}

.nav-section:hover {
  background: #2c2c2c;
  color: white;
  transition-duration: 0.35s;
}

.drop-menu {
  text-decoration: none;
  position: absolute;
  display: none;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0px;
}

.drop-menu:hover {
  display: block;
}

.nav-bar ul li:hover > .nav-section {
  background: #2c2c2c;
  color: #ffffff;
}

.drop-menu li {
  display: block;
  text-decoration: none;
  background: #2c2c2c;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
  padding: 15px;
}

.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

.drop-menu li:hover {
  background: #606060;
}

.drop-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12;
  font-weight: normal;
  padding: 10px;
}

.nav-section:hover + .drop-menu {
  display: block;
}

/*nav ul li:hover > .drop-menu li {
  display: block;
}*/

.logo {
  float: left;
  padding-top: 8.5px;
  padding-bottom: 0px;
  padding-left: 25px;
}

.logo > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/*
  Footer
*/

.copyright {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  background: #2c2c2c;
  color: grey;
  width: 100%;
  text-align: center;
  position: static;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright-link {
  text-decoration: none;
  color: grey;
}
