nav {
  background: white;
  opacity: 1;
  width: 100%;
  text-align: right;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
}

nav li {
  display: inline-block;
}

ul {
  padding: 0px;
  margin: 0px;
}

nav li a {
  opacity: 1;
  color: #2c2c2c;
  text-decoration: none;
  font-size: 18;
  font-family: sans-serif;
  font-weight: bold;
  display: block;
  padding: 25px 15px;
}

nav li a:hover {
  background: #2c2c2c;
  color: white;
  transition-duration: 0.35s;
}

.nav-logo {
  float: left;
  padding-top: 8.5px;
  padding-bottom: 0px;
  padding-left: 25px;
}

.nav-logo > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.sidebar
