.site-content {
  padding-top: 8vh;
  background-color: #d9443f;
  /* height: 70vh; */
  text-align: center;
}

.error404 {
  color: #ffffff;
}

.error404 img {
  width: 30vw;
}

.error404 h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight: 500;
}

.error404 p {
  font-size: 2vw;
}
