form {

}

label, .error, .result-good, .result-bad {
  color: #4b4b4b;
  display: block;
  margin-top: 1.4vw;
}

input, textarea {
	width: 96%;
	height: 2vw;
	background: #ededed;
	border: 1px solid #dedede;
	padding: 0.6vw;
	margin-top: 0.25vw;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #303030;
}

textarea {
	height: 12vw;
  resize: vertical;
}

.submitcontactform {
  font-weight: 500;
  height: 3.4vw;
  width: 6.8vw;
  background-color: #303030;
	color: #ffffff;
  border-radius: 5px;
  margin-top: 1vw;
  cursor: pointer;
}

.result-good {
  color: #00ff00;
  margin-left: 10%;
}

.result-bad {
  color: #ff0000;
  margin-left: 10%;
}

.error {
  margin-top: 0.4vw;
  color: #ff0000;
}
