.location {
  width: 100vw;
  height: 40vh;
}

#map {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2vw;
  text-align: center;
  margin: 3vw;
}

h2 {
  font-size: 1.6vw;
}

p {
  margin: 0.75vw 0;
}

.table-container {
  display: table;
  width: 80vw;
  margin: 0 auto;
}

.table-cell {
  display: table-cell;
  width: 50%;
  /* margin: 5vw; */
}

.aboutsection {
  width: 90%;
  margin: 0 auto;
}

.founder {
  display: table;
}

.foundercell {
  display: table-cell;
}

.foundercell p {
  margin-right: 1vw;
}
